*{
    margin: 0;
    padding: 0;
}

.bg
{
    position: fixed;
    background-image: url(../images/backg2.jpg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100000;
    opacity: 0.2;
}

.author h4{
    position: absolute;
    height: auto;
    left: 91.5%;
    top: 3%;
    font-family: fantasy;
}


.author img{
    position: absolute;
    width: 5%;
    height: 10%;
    left: 95%;
    opacity: 0.8;
    border-radius: 80px;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}


.introduce{
    position: absolute;
    left: 15.2%;
    font-family: fantasy;
    top: 3%;
}

.box1{
    position: relative;
     border: 5px rgb(141, 137, 137) solid;
    width: 45%;
    height: 30em;
    left: 15%;
    padding: 10px;
    top:4em;
    border-radius: 20px;
    background-color: rgb(247, 235, 220,0.4);
    margin-bottom: 100px;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}

.box1:hover{
    background-color: rgb(211, 248, 248,0.3);
}

.img1 img{
    position: absolute;
    width: 45%;
    height: 95%;
    float: left;
    border-radius: 20px;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}

.pa1{
    position: relative;
    width: 52%;
    height: auto;
    z-index: 30;
    float: right;

}

.pa1 h4{
    text-align: center;
}





.pageright{
  
    position: relative;
    width: 30%;
    height: 40em;
    float: right;
    top: -32em;
}




.t1{
    position: absolute;
    padding: 10px;
    
}

.t2{
    position: absolute;
    width: auto;
    height: auto;
    top: 20em;
    left: 1.8%;
    border: 3px rgb(53, 59, 57) solid;

}
table{
    border-color: rgb(91, 94, 93);
    padding: 3px;
}


.introduce2{
    position: absolute;
    left: 5%;
    font-family: fantasy;
    top: 85%;
}


.box2{
    position: relative;
     border: 5px rgb(141, 137, 137) solid;
    width: 90%;
    height: 45em;
    left: 5%;
    padding: 10px;
    top:4em;
    border-radius: 20px;
    background-color: rgb(247, 235, 220,0.4);
    margin-bottom: 100px;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}

.box2:hover{
    background-color: rgb(211, 248, 248,0.3);
}
.img2 img{
    position: absolute;
    width: 40%;
    height: 95%;
    float: left;
    border-radius: 20px;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}

.pa2{
    position: absolute;
    width: 50%;
    height: auto;
    left: 45%;
    z-index: 30;
  
}

.pa2 h4{
    text-align: center;
}

a{
        text-decoration: none;
        color: rgb(97, 96, 93);
 }


.return{
    top: 1%;
    position: fixed;
    border-radius: 30px;
    border: 3px rgb(3, 3, 3) solid;
    padding: 9px;
}